<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <script src="/static/vendor/js/jquery.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>
<body>
{#<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>#}
    <div class="container-fluid">
        <div class="row m-0">
            <div class="form-group col-4">
                <label for="day_year">Количетсво дней в году</label>
                <input type="number" name="days" class="form-control" id="day_year">
            </div>
            <div class="form-group col-4">
                <label for="difference">Разница между днями рождениями</label>
                <input type="number" name="difference" class="form-control" id="difference">
            </div>
            <div class="form-group col-4">
                <label for="c_people">Количетсво людей</label>
                <input type="number" name="people" class="form-control" id="c_people">
            </div>
        </div>
        <div class="row m-0 justify-content-end col-12">
            <button id="send_data" class="btn btn-success">Отправить</button>
        </div>
        <div class="col-12">
            <h4 id="response">Вероятность при этих числах: <span class="small">(Введите числа)</span></h4>
        </div>
    </div>
</body>
<script>
    $("#send_data").click(function () {
        let dict_data = {
            date: $("#day_year").val(),
            date_difference: $("#difference").val(),
            count_people: $("#c_people").val(),
            {#csrf_token: $("input[name='csrf_token']").val()#}
        }
        $.post('/', dict_data, function (data){
            $("#response").find('span').text(data['response']+' or ('+parseFloat(data['response'])*100+'%)')
        })
    })
</script>
</html>